/* Add some basic styling to the Message component */

/* Container */
.Message {
    background-color: #1d2d44;
    border-radius: 5px;
}

/* Author */
.Message h3 {
    color: #f0ebd8;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Messages */
.Message p {
    color: #f0ebd8;
    font-size: 14px;
}
